RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^endpoints index.php?type=endpoints
RewriteRule ^install/(.*)$ app/pakager/install.php?pakage=$1
RewriteRule ^add/(.*)$ app/pakager/install.php?uploader=$1
